.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--dark-bg);
    padding: 40px 15px 50px;
}
.main{
    padding: 40px;
    display: flex;
    justify-content: center;
    background-color: var(--page-bg);
}
@media(max-width: 1050px){
    .main{
        flex-direction: column;
        align-items: center;
    }}