.container{
    background-color: var(--dark-bg);
    font-weight: 400;
    font-size: 24px;
    line-height: 1.18;
    display: flex;
    justify-content: center;
}
.nav-links{
    display: flex;
    justify-content: center;
    width: 500px;
    
}
.nav-item{
    padding: 12px;
}